/.EEBMDescriptionLabelProvider.java._trace
/.EEBMLabelProvider.java._trace
/.EEBMDescriptionLabelProvider.xtendbin
/.EEBMLabelProvider.xtendbin
/EEBMDescriptionLabelProvider.java
/EEBMLabelProvider.java
